extends layout

block content
  div(class='container')
    div(class='row')
      h1(class='display-4 mt-5')= title
      p(class='mt-4') Welcome to #{title}
      p(class='mt-2') This project was created to practice making backend application with Express, utilizing MVC design pattern.
